
<div class="ufc-events">
    <h2>Latest Upcoming Ufc Events</h2>
    <ul>
      <li *ngFor="let event of ufcevents">
        <div class="event-item">
          <img [src]="event.poster" alt="Event Poster" class="event-poster">
          <div class="event-details" >
            <a routerLink="/eventdetails/{{event.id}}" style="text-decoration:none;">
            <h3>{{ event.event }}</h3>
            <p><strong>Date:</strong> {{ event.date }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Category:</strong> {{ event.bout }}</p>

        </a>
        
          </div>
        </div>
      </li>
    </ul>
  </div>
  