<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="navbar"> 
    <img class="Logo" src="../assets/logo.jpg"> 
    <ul>
        <li style="color: white;"> <a href="#Home"> Home </a> </li>
        <li style="color:white"><a routerLink="/fighters">Fighters </a></li>
        <li>  <a routerLink="/boxingevent">  Boxing Fights </a> </li>
        <li style="color:white"><a routerLink="/ufcEvent"> UFC </a> </li>
     
    
          
    
    </ul>
</div>

<hr>
<div class="main" id="Home">

    <div class="main_main">
    
      <div class="main_text"> 
        <h1>Get the Lates Fights<span>Fights</span><br>in a Easy Way</h1>
        <p><i>  Vi går op i at præsentere opskrifterne på en letforståelig måde, så selv nybegyndere kan følge med. Hver opskrift er nøje gennemprøvet og inkluderer detaljerede trin-for-trin instruktioner samt nyttige tips og tricks,.
      
          Udover opskrifter tilbyder vi også  produkter , udstyr  og meget mere. Vores mål er at være en pålidelig kilde til information og inspiration for  kampsport  for dig.</i></p>
        
          <br><br> <br> <br>
          <a href="#events" class="main_btn">See events <i class="fa-sharp fa-solid fa-angle-right"></i></a>

        </div>
  
  
     
        
    </div>
    <div class="image"> 
      <img src="./assets/pc.jpg">
  
    </div>
  
  
  </div>




  
<div class="grid" id="page2">
    <div class="grid grid2"> </div>
</div>

<div class="intro"> 
    <img class ="Big" src="../assets/tank1.jpg">  
    <h2>Vores nye Modeller</h2>   
    
    <p style="float: right;">Vi har altid en bil, der passer til dine behov,  uanset om det gælder plug-in hybrider ,<br>
       el- eller brændstofsbiler. Gå på opdagelse i vores Volkswagen modeller .<br><br>    <br> <br>
       Tak for at besøge vores hjemmeside! Jeg er glad for, at din bilsøgning har bragt dig til os,<br> 
        og jeg ser frem til at tilbyde jer alle den information, <br> om den fantastiske køretøjsmærke og modeller,vi har på området .<br> 
<br> <br>    <br> <br>
Vi er glade for at høre, at du er interesseret i mere information om os. Det fantastisk!<br> 
Vi er  her for at hjælpe, så hvis der er nogle specifikke spørgsmål, du har om bilen, eller der er nogen information, <br>
vi kan få til dig, skal du bare sende os en e-mail eller skrive til os på  vores telefonnummer .

<br> <br>    <br> <br>
       Har du nogle specifikke spørgsmål om en bil, eller er der andet, vi kan hjælpe dig med? <br> 
       Så kan du kontakt os længere ned.
       
<br> <br>    <br> <br>
Igen tak for din interesse Mvh Visar.
    </p>
    </div>

<ul class="wrapper">
    <li class="icon facebook">
        <span class="tooltip">Facebook</span>
        <span><i class="fab fa-facebook-f"></i></span>
    </li>
    <li class="icon twitter">
        <span class="tooltip">Twitter</span>
        <span><i class="fab fa-twitter"></i></span>
    </li>
    <li class="icon instagram">
        <span class="tooltip">Instagram</span>
        <span><i class="fab fa-instagram"></i></span>
    </li>
    <li class="icon github">
        <span class="tooltip">Github</span>
        <span><i class="fab fa-github"></i></span>
    </li>
    <li class="icon youtube">
        <span class="tooltip">Youtube</span>
        <span><i class="fab fa-youtube"></i></span>
    </li>
</ul>

<hr>


<div class="product-wrapper" id="events"> 
    <h1>Popular Events</h1>
    <br><br>
    <div class="row" >  <!-- Bootstrap row  -->
        <div class="col-sm-25" *ngFor="let item of popularfights"> <!-- it takes 25 precent of the screen -->
           <div class="product-item" >
          <a routerLink="/eventdetails/{{item.id}}"><img [src]="item.poster" alt=""></a>  
          
       
             <div class="product-details">
              <h6 class="name-head">{{item.event}}</h6>
             
              <div class="product-color">
                <h6>Date: {{item.date}}</h6>
              </div>
              <br>
  
            
              <div class="product-status">
                <!-- Left side -->
                <div class="Status">
                    <p>{{item.eventtype }}</p>
                </div>
            
              
            </div>
             </div>
             
             <div class="product-footer">
              <a routerLink="/eventdetails/{{item.id}}">  <button>View Details</button></a>
     
             </div>
  
           </div>
        </div>
    </div>
  </div>


<div class="flexbox-container" id="Side">
    <div class="flexbox-item flexbox-item1">
        <img src="../assets/Flexbox1.jpg" width="450px" height="300px">
        <h2>The latest Fights</h2>
        <p>We are always ready to showcase the latest fights
            The latest event and upcoming events . </p>
    </div>
    <div class="flexbox-item flexbox-item2">
        <img src="../assets/Flexbox2.jpg" width="450px" height="300px">
        <h3>Information</h3>
        <p>You can get the latest fight news here and info about fights
            Get the latest fight infos </p>
        <a href="E2qrv_EWUAEmZD7.jpg" style="color:blue"> 
            Se alle modeller</a>
    </div>
    <div class="flexbox-item flexbox-item3">
        <img src="../assets/Flexbox3.jpg" width="450px" height="300px">
        <h3>Mandetorys</h3>
        <p>You can check the mendatory fights ,
            And also chechk the world ranked pound for pound list . </p>
        <a href="E2qrv_EWUAEmZD7.jpg" style="color: blue;"> 
            Se alle modeller</a>
    </div>
</div>

<div class="content" id="Aboutus">
    <hr>
    <h1><i>About Us</i> </h1>
    <p> <i>Vi er en virksomhed,der har som står fokus på biler.
        Vi er meget intresserede i at give vores kunder den bedste oplevelse muligt </i> </p>
    <div>
        <button type=""button> <span>  </span> <i>  SE MERE HER </i> </button>
        <button type=""button><span>  </span> <i> FØLG OS </i>  </button>
    </div>
</div>


